/** Basic config file **/

configuration {
  font: "CaskaydiaCove Propo 12";
  show-icons: true;
  /*icon-theme: "Papirus";*/
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
}
@theme "themes/sidetab-nord.rasi"
